$primary-color: #1ae0d6;
$dark-primary-color: darken($primary-color, 10);
$light-primary-color: lighten($primary-color, 10);

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

dt::after {
  content: ": ";
}

main {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0 0 4px silver;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  align-items: center;
}

input {
  border: 1px solid transparent;
  padding: 4px;
  margin: 4px;
  width: clamp(160px, 80%, 360px);
  outline: none;
}

input:focus {
  border: 1px solid silver;
}

button {
  border: none;
  padding: 4px;
  background: chocolate;
  color: white;
  cursor: pointer;
  transition: 0.5s linear;
}

button:hover {
  background-color: rgb(236, 117, 32);
}

button:active {
  background-color: rgb(156, 78, 22);
}

#loader-wrapper {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52px;
  justify-content: space-evenly;
}

footer a {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#response {
  padding: 8px;
}

dd {
  margin-left: 16px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

h1,
h2 {
  text-align: center;
  font-size: 27px;
}

h2 {
  font-size: 24px;
}

.hidden {
  display: none;
}

dt {
  text-transform: capitalize;
}
